.vsc-initialized {
    overflow: visible;
    background-color: #26262b;
    line-height: 1;
    height: 100vh;
    z-index: -1;
}

.vsc-initialized::-webkit-scrollbar {
    background: transparent;
}

// #root {
//     height: 100%;
//     width: 100%;
//     outline: none;
// }

.splash_OriginWrapper {
    overflow: hidden;
    background-color: #26262b;
    vertical-align: baseline;
    height: 100%;
}

.splash_NavWrapperAbs {
    background: transparent;
    position: absolute;
    z-index: 11;
    width: 100%;
}

.splash_desktopNavWrapper {
    display: block;
    box-sizing: border-box;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    height: 72px;
    padding: 8px 0;
    position: relative;
    user-select: none;
    width: 100%;
    z-index: 56;
}

.splash_innerDesktopNav {
    display: flex;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    margin: 0 auto;
    max-width: 1600px;
    padding: 0 30px;
    position: relative;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    user-select: none;
}

.splash_navLogo {
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    margin-right: 12px;
    margin-top: 4px;
    // margin-top: 0;
    display: flex;
}

.splash_logoRedirect {
    text-decoration: none;
}

.splash_logoSvgWrapper {
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: auto;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    justify-content: start;
    -webkit-box-align: stretch;
    align-items: stretch;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    color: -webkit-link;
    cursor: pointer;
}


.splash_logoIcon {
    flex-grow: 0;
    flex-shrink: 0;
    -webkit-box-flex: 1;
    box-sizing: border-box;
    height: 36px;
    width: 33px;
    fill: #fff;
    overflow: hidden;
    -webkit-box-direction: normal;
    color: -webkit-link;
    cursor: pointer;
}


.splash_logoIcon {
    height: 36px;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255,255,255);
    margin-bottom: 1px;
}

.splash_LogoText {
    margin-top: 3px;
    font-size: 22.5px;
    width: 100%;
    text-decoration: none;
    margin-left: 3px;
    color: rgb(255,255,255);
    font-weight: 700;
}

.splash_logoHomePage {
    // z-index: 1;
    background: url("https://discordapp.com/assets/4f004ac9be168ac6ee18fc442a52ab53.svg") no-repeat;
    // -webkit-filter: invert(76%);
    // filter: invert(76%);
    // height: 36px;
    // left: 50%;
    // margin-left: -65px;
    // position: absolute;
    // top: 40px;
    width: 130px;
    
    flex-grow: 0;
    flex-shrink: 0;
    -webkit-box-flex: 1;
    box-sizing: border-box;
    height: 36px;
    fill: #fff;
    overflow: hidden;
    -webkit-box-direction: normal;
    color: -webkit-link;
    cursor: pointer;
}

.splash_navCenterLinks {
    -webkit-box-align: center;
    -webkit-box-flex: 1;
    align-items: center;
    display: flex;
    flex: 1 0 auto;
    list-style: none;
    margin: 0;
    min-height: 56px;
    padding: 0;
    // margin-block-start: 1em;
    // margin-block-end: 1em;
    // margin-inline-start: 0px;
    // margin-inline-end: 0px;
    // padding-inline-start: 40px;
    color: #fff;
    user-select: none;
}

.splash_navCenter_li {
    cursor: pointer;
    opacity: .8;
    -webkit-font-smoothing: subpixel-antialiased;
    display: inline-block;
    position: relative;
    transition: opacity .125s;
    will-change: opacity;
    text-align: -webkit-match-parent;
}

.splash_navCenter_li:hover {
    opacity: 1;
}

.splash_navCenter_a {
    text-decoration: none;
}

.splash_navCenter_Signup {
    margin-right: 8px;
    padding: 15px 10px;
    color: #fff;
    font-weight: 400;
    position: relative;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    -webkit-font-smoothing: subpixel-antialiased;
    letter-spacing: 0.5;
}

.splash_navRightLinks {
    -webkit-box-align: center;
    -webkit-box-flex: 0;
    align-items: center;
    display: flex;
    flex: 0 1 auto;
    margin-left: auto;
    list-style: none;
    color: #fff;
}

.splash_navRight_li {
    cursor: pointer;
    opacity: .8;
    -webkit-font-smoothing: subpixel-antialiased;
    display: inline-block;
    position: relative;
    transition: opacity .125s;
    will-change: opacity;
    list-style: none;
    text-align: -webkit-match-parent;
}

.splash_navRight_li:hover {
    opacity: 1;
}

.splash_navRight_a {
    padding: 15px 10px 15px 0;
    top: 3px;
    margin-right: 8px;
    color: #fff;
    font-weight: 400;
    position: relative;
    text-decoration: none;
    outline: 0;
}

.splash_liSVG {
    -webkit-filter: invert(92%);
    filter: invert(92%);
    width: 19px;
    height: 19px;
}

.splash_ghSVG {
    -webkit-filter: invert(92%);
    filter: invert(92%);
    width: 19px;
    height: 19px;
}

.splash_navRight_Login {
    border: 2px solid hsla(0,0%,100%,.8);
    border-radius: 20px;
    color: #fff;
    line-height: 24px;
    margin-right: 18px;
    padding: 5px 17px 7px;
    top: 0;
    text-decoration: none;
}

.splash_heroWrapper {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 72px 0;
    text-align: center;
    -webkit-box-pack: center;
    align-items: center;
    border-bottom: none;
    -webkit-box-align: center;
    font-weight: 400;
    line-height: 1.15;
    text-rendering: optimizeLegibility;
}

.splash_heroBody {
    box-sizing: border-box;
    max-width: 1200px;
    padding: 72px 50px 0;
    position: relative;
    z-index: 1;
}

.splash_heroText {
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    margin: 0;
}

.splash_heroBlurb {
    color: hsla(0,0%,100%,.6);
    margin-bottom: 30px;
    max-width: 710px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 12px;
}

.splash_heroButtonsWrapper {
    opacity: 1;
    transition: opacity .5s ease;
}

.splash_heroInnerButtons {
    -webkit-box-pack: center;
    display: flex;
    justify-content: center;
    -webkit-box-flex: 1;
    flex: 1;
}

.splash_heroLeftButton {
    background-color: #fff;
    color: #18191c;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    align-items: center;
    display: flex;
    font-size: 15px;
    font-weight: 500;
    justify-content: center;
    padding: 0;
    position: relative;
    z-index: 1;
    border-radius: 3px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.2);
    height: 45px;
    margin-right: 40px;
    transform: translateY(-1px);
    text-decoration: none;
    outline: none;
    transition: box-shadow .3s cubic-bezier(.25,.25,.315,1.35),transform .1s linear,-webkit-box-shadow .3s cubic-bezier(.25,.25,.315,1.35),-webkit-transform .1s linear;
    width: 250px;
}

.splash_heroRightButton {
    background-color: #7289da;
    color: #fff;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    align-items: center;
    display: flex;
    font-size: 15px;
    font-weight: 500;
    justify-content: center;
    padding: 0;
    position: relative;
    z-index: 1;
    border-radius: 3px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.2);
    height: 45px;
    transform: translateY(-1px);
    text-decoration: none;
    outline: none;
    transition: box-shadow .3s cubic-bezier(.25,.25,.315,1.35),transform .1s linear,-webkit-box-shadow .3s cubic-bezier(.25,.25,.315,1.35),-webkit-transform .1s linear;
    width: 250px;
}

.splash_heroLeftButton:hover {
    box-shadow: none;
    transform: translateY(0);
}

.splash_heroRightButton:hover {
    box-shadow: none;
    transform: translateY(0);
}

.splash_animationsWrapper {
    max-width: 100%;
    padding: 0;
    width: 100%;
    -webkit-box-direction: normal;
}

.splash_animationsInner {
    height: 638px;
    overflow: hidden;
    position: relative;
    user-select: none;
}

.splash_backdropShadow {
    background-color: rgba(0,0,0,.1);
    border-radius: 50px;
    bottom: 0;
    height: 50px;
    left: 50%;
    margin-left: -650px;
    position: absolute;
    transition: all .5s ease;
    width: 1300px;
}

.splash_triangle1 {
    left: 50%;
    bottom: 300px;
    margin-left: -579px;
    opacity: .3;
    transition: all .5s ease;
    position: absolute;
}

.splash_triangle2 {
    bottom: 550px;
    margin-left: 31px;
    left: 50%;
    opacity: .3;
    transition: all .5s ease;
    position: absolute;
}

.splash_triangle3 {
    left: 50%;
    bottom: 448px;
    margin-left: -289px;
    opacity: .3;
    transition: all .5s ease;
    position: absolute;
}

.splash_dot1 {
    bottom: 200px;
    margin-left: -599px;
    left: 50%;
    opacity: .3;
    transition: all .5s ease;
    position: absolute;
}

.splash_dot2 {
    left: 50%;
    bottom: 600px;
    margin-left: -319px;
    opacity: .3;
    transition: all .5 ease;
    position: absolute;
}

.splash_dot3 {
    bottom: 500px;
    margin-left: 181px;
    left: 50%;
    opacity: .3;
    transition: all .5s ease;
    position: absolute;
}

.splash_dot4 {
    left: 50%;
    bottom: 600px;
    margin-left: 531px;
    opacity: .3;
    transition: all .5s ease;
    position: absolute;
}

.splash_dot5 {
    left: 50%;
    bottom: 140px;
    margin-left: 621px;
    opacity: .3;
    transition: all .5s ease;
    position: absolute;
}

.splash_circle1 {
    left: 50%;
    bottom: 530px;
    margin-left: -359px;
    opacity: .3;
    transition: all .5s ease;
    position: absolute;
}

.splash_circle2 {
    left: 50%;
    bottom: 280px;
    margin-left: 576px;
    opacity: .3;
    transition: all .5s ease;
    position: absolute;
}

.splash_circle3 {
    left: 50%;
    bottom: 88px;
    margin-left: -199px;
    opacity: .3;
    transition: all .5s ease;
    position: absolute;
}

.splash_square1 {
    left: 50%;
    opacity: .3;
    transition: all .5s ease;
    position: absolute;
    bottom: 92px;
    margin-left: 17px;
}

.splash_square2 {
    left: 50%;
    opacity: .3;
    transition: all .5s ease;
    position: absolute;
    bottom: 400px;
    margin-left: 431px;
}

.splash_square3 {
    left: 50%;
    opacity: .3;
    transition: all .5s ease;
    position: absolute;
    bottom: 600px;
    margin-left: 331px;
}

.splash_x1 {
    left: 50%;
    opacity: .3;
    transition: all .5s ease;
    position: absolute;
    bottom: 440px;
    margin-left: 101px;
}

.splash_x2 {
    left: 50%;
    opacity: .3;
    transition: all .5s ease;
    position: absolute;
    bottom: 220px;
    margin-left: 541px;
}

.splash_x3 {
    left: 50%;
    opacity: .3;
    transition: all .5s ease;
    position: absolute;
    bottom: 510px;
    margin-left: -579px;
}

.splash_flask {
    left: 50%;
    transition: all .5s ease;
    position: absolute;
    // cursor: pointer;
    margin-left: -609px;
    z-index: 1;
    bottom: 10px;
}



.splash_bomb {
    left: 50%;
    transition: all .5s ease;
    position: absolute;
    bottom: 335px;
    margin-left: -481px;
    animation-name: bomb;
    animation-delay: .4s;
    animation-direction: alternate;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.splash_coin1 {
    left: 50%;
    transition: all .5s ease;
    position: absolute;
    bottom: 300px;
    margin-left: -428px;
    animation-direction: alternate;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: coin;
    animation-timing-function: ease-in-out;
}

.splash_coin2 {
    left: 50%;
    transition: all .5s ease;
    position: absolute;
}

.splash_coin2 {
    left: 50%;
    transition: all .5s ease;
    position: absolute;
    bottom: 530px;
    margin-left: 80px;
    animation-direction: alternate;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: coin;
    animation-timing-function: ease-in-out;
}

.splash_floppy {
    left: 50%;
    transition: all .5s ease;
    position: absolute;
    bottom: 392px;
    margin-left: 250px;
    animation-direction: alternate;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: floppy;
    animation-timing-function: ease-in-out;
}

.splash_shield {
    left: 50%;
    transition: all .5s ease;
    position: absolute;
}

.splash_speaker {
    left: 50%;
    transition: all .5s ease;
    position: absolute;
    margin-left: 423px;
    bottom: 10px;
}

.splash_question {
    left: 50%;
    transition: none;
    position: absolute;
    margin-left: -293px;
    bottom: 462px;
}

.splash_computer {
    left: 50%;
    transition: all .5s ease;
    position: absolute;
    margin-left: -289.5px;
    bottom: 10px;
}

.splash_android {
    left: 50%;
    transition: all .5s ease;
    position: absolute;
    margin-left: -548px;
    bottom: 10px;
}

.splash_iphone {
    left: 50%;
    transition: all .5s ease;
    position: absolute;
    margin-left: -401.5px;
    bottom: 10px;
}

.splash_controller {
    left: 50%;
    transition: all .5s ease;
    position: absolute;
    margin-left: -255px;
    bottom: 10px;
}

.splash_laptop {
    left: 50%;
    transition: all .5s ease;
    position: absolute;
    margin-left: -4px;
    bottom: 10px;
}

.splash_headphones {
    left: 50%;
    transition: all .5s ease;
    position: absolute;
    margin-left: 270px;
    transform: scale(.75);
    bottom: 142px;
}

.splash_footerWrapper {
    background: transparent;
    position: relative;
    z-index: 1;
    bottom: -100%;
    font-weight: 400;
    overflow: hidden;
    padding: 80px 160px 48px;
}

.splash_footerBackground {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-weight: 400px;
}

.splash_footerContent {
    margin: 0 auto;
    max-width: 1600px;
    position: relative;
}

.splash_footerLinks {
    -webkit-box-pack: justify;
    display: flex;
    justify-content: space-between;
}

.splash_footerSeparator {
    background: url('/assets/underline.svg');
    height: 1px;
    margin: 34px 0;
    opacity: .1;
    width: 100%;
}

.splash_footerSignUp {
    display: flex;
    flex-direction: row;
}

.splash_footerSpiel {
    -webkit-box-flex: 1;
    flex: 1;
}

.splash_footerMainText {
    color: #fff;
    font-size: 26px;
    line-height:34px;
}

.splash_footerSubText {
    color: hsla(0,0%,100%,.6);
    font-size: 14px;
    font-weight: 500;
    margin-top: 4px;
}

.splash_footerSignUpButton {
    background-color: #7289da;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    font-size: 15px;
    height: 15px;
    line-height: 15px;
    padding: 16px;
    position: relative;
    text-decoration: none;
}

.splash_footerSignUpButton:hover {
    color: #fff;
    box-shadow: 0 4px 14px 0 rgba(28,30,34,.4);
    top: -1px;
}



// animations

@keyframes bomb {
    0% {transform: translate3d(0,-4px,0);}
    100% {transform: translate3d(0,4px,0);}
}

@keyframes coin {
    0% {transform: translate3d(0,-4px,0);}
    100% {transform: translate3d(0,4px,0);}
}

@keyframes floppy {
    0% {transform: translate3d(0,-4px,0);}
    100% {transform: translate3d(0,4px,0);}
}


// fonts

@font-face {
  font-family: Whitney-light;
  font-style: light;
  font-weight: 300;
  src: url(https://discordapp.com/assets/16801bfdf51ed88e69bc90626a3ea436.woff) format('woff')
}

@font-face {
  font-family: Whitney-norm;
  font-style: normal;
  font-weight: 400;
  src: url(https://discordapp.com/assets/d153359b5d87601d2b9c708b7ae2db02.woff) format('woff')
}

@font-face {
  font-family: Whitney-med;
  font-style: medium;
  font-weight: 600;
  src: url(https://discordapp.com/assets/a934ab008c7f6a2274ec441f6be0696a.woff) format('woff')
}

@font-face {
  font-family: Whitney-semi;
  font-style: semibold;
  font-weight: 650;
  src: url(https://discordapp.com/assets/877ef48bf9fcfee590f0ba64de101b59.woff) format('woff')
}

@font-face {
  font-family: Whitney-bold;
  font-style: bold;
  font-weight: 700;
  src: url(https://discordapp.com/assets/2e004dd717cdc58b9ccb361d286ebbce.woff) format('woff')
}

.lightFont {
  font-family: Whitney-light;
}

.normFont {
  font-family: Whitney-norm;
}

.medFont {
  font-family: Whitney-med;
}

.semiFont {
  font-family: Whitney-semi;
}

.boldFont {
  font-family: Whitney-bold;
}
