.conversations {
    color: #fff;
}

.conv_channelId {
    opacity: 0;
}

.pf_conversations {
    background: rgb(47,50,55);
    width: 100%;
    height: 100%;
}
.conversationsList {
    width: 100%;
    height: 100%;
}

.conversations {
    height: 100%;
    width: 100%;
}
.messagesWrap {
    height: 100%;
}

.messageArea {
    height: 90%;
    width: 100%;
}

.newMessageForm {
    height: 10%;
}