.servCo_server {
    height: 50px;
    width: 50px;
    position: relative;
    z-index: 1;
    outline: 0;
    margin-top: 8px;
    background: #2f3136;
    border-radius: 25px;
}

#homeServer {
    margin-top: 0;
}

.servCo_serverActive {
    background: #fff;
    border-radius: 20px;
    height: 40px;
    margin-top: -20px;
    transition: height .25s ease-in-out,margin-top .25s ease-in-out;
    content: " ";
    left: -15px;
    position: absolute;
    top: 50%;
    width: 10px;
}

.servCo_server:hover {
    border-radius: 15px;
    background-color: rgb(114, 137, 218);
    cursor: pointer;
    font-size: 18px;
    line-height: 50px;
    overflow: hidden;
    // text-align: center;
    // transform: translateZ(0);
    // transition: background 1s;
    transition: border-radius 0.3s, background 0.3s;
    transition-timing-function: cubic-bezier(1, 3, 1, 0);
}

.servCo_server a {
    color: #fff;
    display: flex;
    height: 50px;
    width: 50px;
    cursor: pointer;
    text-decoration: none;
    // transition: opacity .5s,color .5s;
    -webkit-user-drag: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.servCo_server a:focus {
    background-color: rgb(114, 137, 218);
    border-radius: 15px;
    color: #fff;
    height: 50px;
    width: 50px;
    cursor: pointer;
    text-decoration: none;
    // transition: opacity .5s,color .5s;
    -webkit-user-drag: none;
}

